<section class="parallax-window" data-parallax="scroll" data-image-src="img/restaurant_top_in.jpg" data-natural-width="1400"
  data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>Bella Napoli</h1>
          <span>Champ de Mars, 5 Avenue Anatole, 75007 Paris.</span>
          <span class="rating">
            <i class="icon-smile voted"></i>
            <i class="icon-smile voted"></i>
            <i class="icon-smile voted"></i>
            <i class="icon-smile voted"></i>
            <i class="icon-smile"></i>
            <small>(75)</small>
          </span>
        </div>
        <div class="col-md-4 col-sm-4">
          <div id="price_single_main">
            from/per person
            <span>
              <sup>$</sup>52</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->

<div id="position">
  <div class="container">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Category</a>
      </li>
      <li>Page active</li>
    </ul>
  </div>
</div>
<!-- End Position -->


<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div>
<!-- End Map -->

<div class="container margin_60">
  <div class="row">
    <div class="col-md-8" id="single_tour_desc">




      <div id="Img_carousel" class="slider-pro">
        <div class="sp-slides">

          <div class="sp-slide">
            <img alt="Image" class="sp-image" src="{{obj.eventPict}}">
          </div>

        </div>

        <hr>

        <div class="row">
          <div class="col-md-3">
            <h3>Description</h3>
          </div>
          <div class="col-md-9">
            <h4>About us</h4>
            <p>
              {{obj.description}}
            </p>
            <h4>Menu and dishes</h4>
            <p>
              Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu detraxit constituam, an mel
              iudico constituto efficiendi.
            </p>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <ul class="list_ok">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>No scripta electram necessitatibus sit</li>
                  <li>Quidam percipitur instructior an eum</li>
                  <li>Ut est saepe munere ceteros</li>
                  <li>No scripta electram necessitatibus sit</li>
                  <li>Quidam percipitur instructior an eum</li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                <ul class="list_ok">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>No scripta electram necessitatibus sit</li>
                  <li>Quidam percipitur instructior an eum</li>
                  <li>No scripta electram necessitatibus sit</li>
                </ul>
              </div>
            </div>
            <!-- End row  -->
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-3">
            <h3>Opening time</h3>
          </div>
          <div class="col-md-9">
            <div class=" table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th colspan="2">
                      1st March to 31st October
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Monday
                    </td>
                    <td>
                      10.00 - 17.30
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tuesday
                    </td>
                    <td>
                      09.00 - 17.30
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Wednesday
                    </td>
                    <td>
                      09.00 - 17.30
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Thursday
                    </td>
                    <td>
                      <span class="label label-danger">Closed</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Friday
                    </td>
                    <td>
                      09.00 - 17.30
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Saturday
                    </td>
                    <td>
                      09.00 - 17.30
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sunday
                    </td>
                    <td>
                      10.00 - 17.30
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <hr>

      </div>
      <!--End  single_tour_desc-->
    </div>
    <!--End row -->
  </div>
</div>

<!--End container -->