<section id="hero">
  <div class="intro_title">
    <h3 class="animated fadeInDown">Submit event</h3>
  </div>
</section>
<!-- End hero -->

<div class="container margin_60" style="padding-right:150px;padding-left:150px;">
  <section id="event-submit">
    <h3>Event Details</h3>
    <hr>
    <br>

    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="form-group">
        <label>EVENT TITLE</label>
        <input class="form-control" name="title" id="title" type="text" placeholder="Give it a short distinct name" ngModel required
          #title="ngModel">
        <div [hidden]="title.valid ||title.pristine" class="alert alert-danger">Title is Required</div>
      </div>

      <div class="form-group">
        <label>LOCATION</label>
        <input class="form-control" name="location" id="location" type="text" placeholder="Event place" ngModel>
      </div>

      <div class="form-inline">
        <label>STARTS</label>
        <br>
        <div class="form-group">
          <input class="form-control" name="dateStart" id="dateStart" type="date" ngModel>
        </div>
        <div class="form-group">
          <input type="time" class="form-control" name="timeStart" ngModel>
        </div>
      </div>
      <br>

      <div class="form-inline">
        <label>ENDS</label>
        <br>
        <div class="form-group">
          <input class="form-control" name="dateEnd" id="dateEnd" type="date" ngModel>
        </div>
        <div class="form-group">
          <input type="time" class="form-control" name="timeEnd" ngModel>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label>PRICE</label>
        <input class="form-control" name="price" id="price" type="text" placeholder="Any ticket price?" ngModel>
      </div>

      <div class="form-group">
        <label>EVENT DESCRIPTION</label>
        <textarea class="form-control" rows="10" style="resize:none;" name="description" id="description" type="text" ngModel></textarea>
      </div>

      <div class="form-group">
        <label>EVENT TYPE</label>
        <select class="form-control" name="eventType" id="eventType" type="text" ngModel>
          <option *ngFor="let t of typeList" [value]="t">{{t}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>EVENT TOPIC</label>
        <select class="form-control" name="eventTopic" id="eventTopic" type="text" ngModel>
          <option *ngFor="let t of topicList" [value]="t">{{t}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>CONTACT</label>
        <input class="form-control" name="contact" id="contact" type="text" placeholder="Input event organizer contact" ngModel>
      </div>

      <label>EVENT IMAGE</label>
      <br>

      <input type="file" (change)="fileChange($event)">

      <p>only file in .jpg, .jpeg, .bmp, and .gif</p>

      <br>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>




  </section>
</div>