<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
  <div id="top_line">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <i class="icon-phone"></i>
          <strong>0045 043204434</strong>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul id="top_links">
            <li>
              <div class="dropdown dropdown-access">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in</a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="#" class="bt_facebook">
                        <i class="icon-facebook"></i>Facebook </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <a href="#" class="bt_paypal">
                        <i class="icon-paypal"></i>Paypal </a>
                    </div>
                  </div>
                  <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                  <a id="forgot_pw" href="#">Forgot password?</a>
                  <input type="submit" name="Sign_in" value="Sign in" id="Sign_in" class="button_drop">
                  <input type="submit" name="Sign_up" value="Sign up" id="Sign_up" class="button_drop outline">
                </div>
              </div>
              <!-- End Dropdown access -->
            </li>
            <li>
              <a href="wishlist.html" id="wishlist_link">Wishlist</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End container-->
  </div>
  <!-- End top line-->

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo_home">
          <h1>
            <a href="index.html" title="City tours travel template">City Tours travel template</a>
          </h1>
        </div>
      </div>
      <nav class=" col-xs-9 col-offset-xs ">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
          <span>Menu mobile</span>
        </a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in">
            <i class="icon_set_1_icon-77"></i>
          </a>
          <ul>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Home
              </a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Destinasi
              </a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Acara
              </a>
            </li>
          </ul>
        </div>
        <!-- End main-menu -->
        <ul id="top_tools">
          <li>
            <div class="dropdown dropdown-post">
              <a routerLink="/submit" class="btn_1" style="display:inline; margin-left:10px;color:white;">Post Event</a>
            </div>
            <!-- End dropdown-cart-->
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- container -->
</header>
<!-- End Header -->

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <h3>Need help?</h3>
        <a href="tel://004542344599" id="phone">+45 423 445 99</a>
        <a href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>About</h3>
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
          <li>
            <a href="#">Login</a>
          </li>
          <li>
            <a href="#">Register</a>
          </li>
          <li>
            <a href="#">Terms and condition</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Discover</h3>
        <ul>
          <li>
            <a href="#">Community blog</a>
          </li>
          <li>
            <a href="#">Tour guide</a>
          </li>
          <li>
            <a href="#">Wishlist</a>
          </li>
          <li>
            <a href="#">Gallery</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3">
        <h3>Settings</h3>
        <div class="styled-select">
          <select class="form-control" name="lang" id="lang">
            <option value="English" selected>English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Russian">Russian</option>
          </select>
        </div>
        <div class="styled-select">
          <select class="form-control" name="currency" id="currency">
            <option value="USD" selected>USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="RUB">RUB</option>
          </select>
        </div>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li>
              <a href="#">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-google"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-vimeo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-youtube-play"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-linkedin"></i>
              </a>
            </li>
          </ul>
          <p>© Citytours 2015</p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
<!-- End footer -->

<div id="toTop"></div>
<!-- Back to top button -->