<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header Plain:  add the id plain to header and change logo.png to logo_sticky.png ======================= -->
<header id="plain" style="border-bottom:1px solid #ddd;">
  <div id="top_line">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <i class="icon-phone"></i>
          <strong>+62 85716777334</strong>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <ul id="top_links">
                <li *ngIf="visible">
                    <a routerLink="/admin" class="dropdown-toggle" data-toggle="dropdown" id="access_link">{{loginUsername}}</a>
                </li>
                <li *ngIf="visible == false">
                    <a routerLink="/login" class="dropdown-toggle" data-toggle="dropdown" id="access_link">{{loginUsername}}</a>
                </li>
                <li *ngIf="visible">
                    <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown" id="logout" (click)="logoutButton()">{{logout}}</a>
                </li>

            </ul>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End container-->
  </div>
  <!-- End top line-->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div>
          <h2>
            <a routerLink="/" title="IndoEvent">IndoEvent</a>
          </h2>
        </div>
      </div>
      <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" >
          <span>Menu mobile</span>
        </a>
        <div class="main-menu">
          <div id="header_menu">
            <h3>IndoEvent</h3>
          </div>
          <a  class="open_close" id="close_in">
            <i class="icon_set_1_icon-77"></i>
          </a>
          <ul>
            <li class="submenu">
              <a class="show-submenu">Menu
                <i class="icon-down-open-mini"></i>
              </a>
              <ul>
                <li>
                  <a routerLink = "/eventlist">Event List</a>
                </li>
                <li>
                  <a routerLink ="/admin">Admin Page</a>
                </li>
                <li>
                  <a routerLink = "/submit">Post Event</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- End main-menu -->
        <ul id="top_tools">
          <li>
            <div class="dropdown dropdown-search">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-search"></i>
              </a>
              <div class="dropdown-menu">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" style="margin-left:0;">
                        <i class="icon-search"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown dropdown-cart">
                <a routerLink="/submit" class="btn_1" style="display:inline; margin-left:10px;color:white;">Post Event</a>
            </div>
            <!-- End dropdown-cart-->
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- container -->
</header>
<!-- End Header -->



<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <h3>Need help?</h3>
        <a href="tel://085716777334" id="phone">+62 857 167 773 34</a>
        <a href="mailto:argatahta@hotmail.com" id="email_footer">argatahta@hotmail.com</a>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>About</h3>
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3>Discover</h3>
        <ul>
          <li>
            <a routerLink="/evenlist">Event</a>
          </li>
          <li>
            <a routerLink="/eventlist">Gallery</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3">
        <h3>Settings</h3>
        <ul>
          <li>
            <a routerLink="/admin">Admin Page</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li>
              <a href="#">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-google"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-vimeo"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-youtube-play"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-linkedin"></i>
              </a>
            </li>
          </ul>
          <p>© Arga Tahta 2018</p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
<!-- End footer -->

<div id="toTop"></div>
<!-- Back to top button -->